@tailwind base;
@tailwind components;
@tailwind utilities;

.authForm{
    height: 550px;
    width:500px;
}

.resumeForm{
    min-width:60vw;
    max-width:80vw;
}

.portfolioForm{
    min-width:60vw;
}

input:focus::placeholder {
  opacity: 0;
}