@tailwind base;
@tailwind components;
@tailwind utilities;

.authForm{
    height: 550px;
    width:500px;
}


input:focus::placeholder {
  opacity: 0;
}

p{
  font-weight:600;
  font-size:18px;
}

.scrollable-container {
  position: relative;
  overflow: auto;
  z-index: 0;
}