@tailwind base;
@tailwind components;
@tailwind utilities;

.authForm{
    height: 550px;
    width:500px;
}


input:focus::placeholder {
  opacity: 0;
}

p{
  font-weight:600;
  font-size:18px;
}

.scrollable-container {
  position: relative;
  overflow: auto;
  z-index: 0;
}

// 스크롤 fadein
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.inView {
  animation: fadeIn 2s both;
}

.fadeInContainer{
  opacity: 0;
}

a{
  font-size:16px;
  color:gray;
  &:hover{
    font-size:18px;
    color:black;
  }
}